                                                            /*GENERAL*/

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

/*MODAL*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

                                                            /*HEADER*/

header {
  border-bottom: 2px solid #555;
  height: 8em;
  min-height: 8em;
  max-height: 8em;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  color: #4caf50;
}

/*MENÚ*/

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  margin-right: 4em;
  border-radius: 5px;
  background-color: #555;
  transition: background-color 0.3s ease;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

nav a:hover {
  background-color: #45a049;
}


/*TEMA CLARO/OSCURO*/

.tema-claro {
  .container-main {
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 1s;
  }

  #btnBorrarUsuario {
    background-color: #e9e3e3;
  }
}

.tema-oscuro {
  .container-main {
    background-color: #333;
    color: #fff;
    transition: background-color 1s;
  }

  nav a {
    color: #555;
    background-color: #fff;
  }

  nav a:hover {
    background-color: #45a049;
  }

  header,
  footer {
    background-color: #555;
    transition: background-color 1s;
  }

  .slideshow-container {
    background-color: #222;
    transition: background-color 1s;
  }
}

                                                            /*MAIN*/

main {
  display: flex;
  flex: 1;
}

.container-main {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f5f5f5;
}

/*FOTO DE LOS LADOS*/
aside {
  flex: 1;
  background-image: url("./imagenes/images.jpeg");
  background-repeat: repeat;
  background-size: auto;
  height: 100%;
}

/*FORMULARIOS*/

h2 {
  margin-bottom: 0.4em;
  color: #4caf50;
}

#loginForm{
margin-bottom: 2em;
}

.form-container {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
  width: 96%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #4caf50;
  outline: none;
}

/*BOTONES*/
button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
}

.hidden {
  display: none;
}

main h1,
h2 {
  text-align: center;
}

#aunNo{ 
  padding-top: 1em;
  color: #4caf50;
}

#aunNo a{ 
  color: #4caf50;
}

/*ENTRENAMIENTOS*/
#contenedor-entrenamientos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
}

#listaEntrenamientos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrenamiento-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.entrenamiento-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

#busquedaFechas{
  margin: 15px auto;
}

#acciones button {
  margin: 0.5em;
}

#totalKilometros, #niveles{
  margin: 0.3em;
}

.tema-oscuro .entrenamiento-card {
  background-color: #444;
  color: #fff;
  border-color: #666;
}

.entrenamiento-card p {
  margin: 8px 0;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.tema-oscuro .entrenamiento-card p {
  border-bottom-color: #555;
}

#ordenEntrenamientos {
 width: 30%;
}

/*FOROS*/
#foro {
  margin: 0 auto;
  width: 70%;
}

.tituloForo {
  font-size: 2em;
}

.foro-entrenamiento {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.foro-entrenamiento input,
.foro-entrenamiento textarea {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.foro-entrenamiento button {
  margin-top: 10px;
  width: 90%;
}

.comentario {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.tema-oscuro .comentario {
  background-color: #333;
}

.btn-eliminar {
  background-color: #ff4444;
  width: auto;
  padding: 5px 10px;
  margin-top: 10px;
}

.btn-eliminar:hover {
  background-color: #cc0000;
}

#btnBorrarUsuario {
  background-color: aliceblue;
  color: #4caf50;
}

#btnBorrarUsuario:hover {
  background-color: #aaa;
  color: aliceblue;
}

/*SOBRE NOSOTROS*/
#nosotros {
  width: 50%;
  text-align: justify;
}

#nosotros h1 {
  margin: 0.5em;
}

#nosotros img {
  width: 100%;
  margin: 0.8em 0;
}

                                                      /*FOOTER*/

footer {
  border-top: 2px solid #555;
  position: relative;
}

footer .copy {
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #45a049;
}

footer a:hover {
  color: #ccc;
}

/*CONTENIDO FOOTER*/

footer .slider {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 0.8rem;
  border-radius: 8px;
}

.slideshow-container {
  height: 7em;
  width: 15em;
  padding: 2px;
  background-color: #555;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagenSlideshow {
  width: 80%;
  height: 80%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.mapa p {
  margin-bottom: 0.5em;
}


/*Css del switch para los temas*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider .sun, .slider .moon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  fill: #fff;
  transition: .4s;
}

.slider .sun {
  left: 5px;
  opacity: 1;
}

.slider .moon {
  right: 5px;
  opacity: 0;
}

input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}
